<div fxFlex class="dark-style scale disconnected"
fxLayout="column">
<mat-card class="scale-format scale disconnected"
    fxFill
    fxLayout="column"
    fxLayoutAlign="space-around stretch">
    
    <div class = 'scale-format scale disconnected'
        fxFlex 
        fxLayout="column" 
        fxLayoutAlign="space-around stretch"
        fxLayoutGap="5px"
        fxFill>
        <div fxFlex>
            <mat-card-title class="dark-style scale disconnected">Scale</mat-card-title>
        </div>
        <div fxFlex>
            <div  
                fxLayout="row"
                fxLayoutAlign="space-around stretch"
                fxFlex>
                <div fxFlex="33" class="metric-name" >Weight</div>
                <div fxFlex="33" class="metric-value"*ngIf='deviceData'>{{this.deviceData.dataOne}}</div>
                <div fxFlex="33" class="metric-unit">Lbs</div>
          </div>
        </div>

        <div fxFlex>
            <div  
                fxLayout="row"   
                fxLayoutAlign="space-around stretch"
                fxFlex>
            <div fxFlex="33" class="metric-name" ></div>
            <div fxFlex="33" class="metric-value">&nbsp;</div>
            <div fxFlex="33" class="metric-unit"></div>
          </div>
        </div>
        <div fxFlex="8%">
            <mat-card-actions>
                <p class="status-line"*ngIf='deviceData'>{{this.deviceData.status}}</p>
              </mat-card-actions>
        </div>

    </div>



</mat-card>
</div>