<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Weather App</title>

</head>
<body>
    <div class="container">
        <div class="current-info">

            <div class="date-container">
                <div class="time" id="time">
                    11:00 <span id="am-pm">AM</span>
                </div>
                <div class="date" id="date">
                    Wednesday, 3 February 
                </div>

                <div class="others" id="current-weather-items">
                    <div class="weather-item">
                        <div>Humidity</div>
                        <div>33 %</div>
                    </div>
                    <div class="weather-item">
                        <div>Pressure</div>
                        <div>25</div>
                    </div>
                    <div class="weather-item">
                        <div>Wind Speed</div>
                        <div>7 mph</div>
                    </div>
                
                    <div class="weather-item">
                        <div>Sunrise</div>
                        <div>7:05 AM</div>
                    </div>
                    <div class="weather-item">
                        <div>Sunset</div>
                        <div>6:36 PM</div>
                    </div>
                </div>
            </div>

            <div class="place-container">
                <div class="time-zone" id="time-zone">Peachtree City</div>
                <div id="country" class="country">GA</div>
                <button mat-raised-button color="primary" routerLink="/data" routerLinkActive="active" >Take Readings</button>
            </div>
        </div>

        
    </div>

    <div class="future-forecast">
        <div class="today" id="current-temp">
            <img src="http://openweathermap.org/img/wn/01d@2x.png" alt="weather icon" class="w-icon">
            <div class="other">
                <div class="day">Wednesday</div>
                <div class="temp">Night - 45&#176; F</div>
                <div class="temp">Day - 77&#176; F</div>
            </div>
        </div>

        <div class="weather-forecast" id="weather-forecast">
            <div class="weather-forecast-item">
                <div class="day">Thursday</div>
                <img src="http://openweathermap.org/img/wn/01d@2x.png" alt="weather icon" class="w-icon">
                <div class="temp">Night - 45&#176; F</div>
                <div class="temp">Day - 77&#176; F</div>
            </div>
            <div class="weather-forecast-item">
                <div class="day">Friday</div>
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="temp">Night - 55&#176; F</div>
                <div class="temp">Day - 79&#176; F</div>
            </div>
            <div class="weather-forecast-item">
                <div class="day">Saturday</div>
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="temp">Night - 55&#176; F</div>
                <div class="temp">Day - 78&#176; F</div>
            </div>

        </div>
        
    </div>

    
</body>
</html>